In [1]:
import os
os.chdir('C:/Users/raj3599/Desktop/letsuprade/Day27')

In [2]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from warnings import filterwarnings
filterwarnings('ignore')

In [3]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [5]:

df.pop('Cabin')

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
884     NaN
885     B42
886     NaN
887    C148
888     NaN
Name: Cabin, Length: 889, dtype: object

In [6]:
df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()

df["Sex"] = lab.fit_transform(df["Sex"])
df["Embarked"] = lab.fit_transform(df["Embarked"])

In [8]:

df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

# Support Vector Machine

In [9]:
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import confusion_matrix, accuracy_score

In [11]:
 def prediction(col):
    
    clf = svm.SVC(gamma = 0.01, C = 100)

    for i in col:
        x = df.drop([i], axis=1)
        print("--------------------------------------------------------------------------------------")
        print(f"Here Dependent Variable is {i} & remaining are Independent Variables")
        print("x :\n", x.head())
        y = df[i]
        print("\ny:\n", y.head())
    
        x_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.3, random_state=0)
        model = clf.fit(x_train,y_train)
        pred = model.predict(x_test)
    
        print(f"\nAcuuracy for {i} is: ", accuracy_score(y_test, pred, normalize=True))
        print(f"Confusion matrix for {i} is \n", confusion_matrix(y_test, pred))

column = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked']        
prediction(column)

--------------------------------------------------------------------------------------
Here Dependent Variable is Survived & remaining are Independent Variables
x :
    Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

y:
 0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Acuuracy for Survived is:  0.7415730337078652
Confusion matrix for Survived is
 [[124  33]
 [ 36  74]]
--------------------------------------------------------------------------------------
Here Dependent Variable is Pclass & remaining are Independent Variables
x :
    Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0         0    1  22.0      1      0   7.2500         2
1         1    0  38.0      1      0  71.2833         0
2         1    0  26.0      0      0   7.9250         2
3         1    0  35.0      1      0  53.1000         2
4         0    1  35.0      0      0   8.0500         2

y:
 0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

Acuuracy for Pclass is:  0.9026217228464419
Confusion matrix for Pclass is
 [[ 64   4   2]
 [  4  36   9]
 [  1   6 141]]
--------------------------------------------------------------------------------------
Here Dependent Variable is Sex & remaining are Independent Variables
x :
    Survived  Pclass   Age  SibSp  Parch     Fare  Embarked
0         0       3  22.0      1      0   7.2500         2
1         1       1  38.0      1      0  71.2833         0
2         1       3  26.0      0      0   7.9250         2
3         1       1  35.0      1      0  53.1000         2
4         0       3  35.0      0      0   8.0500         2

y:
 0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int32

Acuuracy for Sex is:  0.7265917602996255
Confusion matrix for Sex is
 [[ 66  32]
 [ 41 128]]
--------------------------------------------------------------------------------------
Here Dependent Variable is SibSp & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  Parch     Fare  Embarked
0         0       3    1  22.0      0   7.2500         2
1         1       1    0  38.0      0  71.2833         0
2         1       3    0  26.0      0   7.9250         2
3         1       1    0  35.0      0  53.1000         2
4         0       3    1  35.0      0   8.0500         2

y:
 0    1
1    1
2    0
3    1
4    0
Name: SibSp, dtype: int64

Acuuracy for SibSp is:  0.7490636704119851
Confusion matrix for SibSp is
 [[150  24   7   0   1   0   0]
 [ 21  39   5   0   0   0   0]
 [  4   1   3   0   0   0   0]
 [  0   2   1   3   1   0   0]
 [  0   0   0   0   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]
--------------------------------------------------------------------------------------
Here Dependent Variable is Parch & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  SibSp     Fare  Embarked
0         0       3    1  22.0      1   7.2500         2
1         1       1    0  38.0      1  71.2833         0
2         1       3    0  26.0      0   7.9250         2
3         1       1    0  35.0      1  53.1000         2
4         0       3    1  35.0      0   8.0500         2

y:
 0    0
1    0
2    0
3    0
4    0
Name: Parch, dtype: int64

Acuuracy for Parch is:  0.797752808988764
Confusion matrix for Parch is
 [[187   6   5   0   0   0]
 [ 21  15   3   0   0   1]
 [ 10   6  11   0   0   0]
 [  0   0   1   0   0   0]
 [  1   0   0   0   0   0]
 [  0   0   0   0   0   0]]
--------------------------------------------------------------------------------------
Here Dependent Variable is Embarked & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

y:
 0    2
1    0
2    2
3    2
4    2
Name: Embarked, dtype: int32

Acuuracy for Embarked is:  0.7677902621722846
Confusion matrix for Embarked is
 [[ 23   2  24]
 [  0   8  14]
 [ 18   4 174]]

# Accuracy Score

In [12]:
score = { 'Dependent Variable': ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked'],
         'Accuracy Score': [0.7612,0.8955,0.75,0.7425,0.8283,0.7462],
         'Total ':[268,268,268,268,268,268],
         'Correct Prediction':[204,232,201,199,222,200],
         'Incorrect Prediction':[64,36,67,69,46,68] }
score = pd.DataFrame(score)
score

,Dependent Variable,Accuracy Score,Total,Correct Prediction,Incorrect Prediction
0,Survived,0.7612,268,204,64
1,Pclass,0.8955,268,232,36
2,Sex,0.7500,268,201,67
3,SibSp,0.7425,268,199,69
4,Parch,0.8283,268,222,46
5,Embarked,0.7462,268,200,68